<nav class="mobile-bar" aria-label="Greitoji navigacija" data-mobile-bar>
  <ul class="mobile-bar__list" role="list">
    <li><a class="mobile-bar__item" href="index.html"{{ mb_home }}><svg class="i i--lg" aria-hidden="true" focusable="false"><use href="#i-house"></use></svg><span>Pradžia</span></a></li>
    <li><button class="mobile-bar__item" type="button" data-open-menu aria-controls="menu-drawer" aria-haspopup="dialog"><svg class="i i--lg" aria-hidden="true" focusable="false"><use href="#i-squares-four"></use></svg><span>Katalogas</span></button></li>
    <li><a class="mobile-bar__item mobile-bar__item--sale" href="parduotuve.html"{{ mb_sale }}><svg class="i i--lg" aria-hidden="true" focusable="false"><use href="#i-percent"></use></svg><span>Išpardavimas</span></a></li>
    <li><button class="mobile-bar__item" type="button" data-open-wishlist aria-controls="wishlist-drawer" aria-haspopup="dialog"><svg class="i i--lg" aria-hidden="true" focusable="false"><use href="#i-heart"></use></svg><span>Norai</span><span class="count-badge" data-wishlist-count hidden>0</span></button></li>
    <li><button class="mobile-bar__item" type="button" data-open-cart aria-controls="cart-drawer" aria-haspopup="dialog"><svg class="i i--lg" aria-hidden="true" focusable="false"><use href="#i-handbag"></use></svg><span>Krepšelis</span><span class="count-badge" data-cart-count hidden>0</span></button></li>
  </ul>
</nav>
